body {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.topper {
  background: url(/images/pexels-lumn-1028599.jpg);
  text-align: center;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% 650%;
  padding: 50px;
  margin-top: 40px;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-top: 10px;
}

.plates {
  margin-top: 100px;
}

.plates img {
  width: 560px;
  height: 350px;
}

.desc-recipe {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

footer {
  background-color: #f9f7fe;
  padding: 30px;
  margin-top: 70px;
}

a {
  color: black;
}

a :hover {
  cursor: pointer;
  color: blueviolet;
}

a :visited {
  text-decoration: none;
}
